/* app css stylesheet */

/******** Index page **********/

.view-container {
  padding-top: 50px;
}

html, body, .view-container { 
  height: 100%; 
}
body > .view-container {
 height: auto; 
 min-height: 100%; 
}

#logo > img {
  height: 50px;
  margin-top: -15px;
}

/******** Buttons *********/

.btn-primary {
  background-color: #2EB82E; /* green */
  color: white;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #0E370E; /* darkest green */
}
.btn-primary:hover {
  background-color: #208120; /* darker green */
  border-color: #0E370E; /* darkest green */
}

.btn-secondary {
  width: 200px;
  text-align: center;
  background-color: orange;
  color: white;
  margin-top: 15px;
  border-color: black;
}

/******** Home page *********/

#homeBanner {
  width: 100%;
  height: auto;
}

.banner > img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 50px;
}

h3 {
  padding: 30px 0px 20px 30px;
}

.featurette {
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.featurette-heading {
  text-align: center;
  margin-bottom: 40px;
  color: gray;
}

#home-caption {
  color: orange;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

.lead-muted {
  color: #777;
}

/************** Corporations ***************/

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  height: 250px;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
}

h2 {
  font-size: 32px;
}

.featurette-divider {
  margin: 80px 0;
}

.subtitle {
  /*text-shadow: 2px 2px 0px black;*/
}

a.morelink {
  text-decoration:none;
  outline: none;
  color: #2EB82E; 
}

a.morelink:hover {
  color: #208120;
}

.morecontent span {
  display: none;
}

.comment {
  font-size: 20px;
}

#gray-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: lightgray;
}

.text-orange {
  color: orange;
  font-size: 34px;
}


/* Carousel */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/************************ Top Navbar ************************/

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-default {
  background-color: orange;
  /*border-color: black;*/
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-login {
  display: -webkit-box;
  float: right;
  padding-top: 5px;
}

#divide-bar {
  color: white;
  padding-top: 14px;
}

.img-logo {
  height: 40px;
  margin-top: 5px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: orange;
}

.dropdown-menu {
  background-color: orange;
  text-align: center;
}

.dropdown-menu > li > a {
  color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: orange;
}

#beta-mode {
  width: 250px;
  color: #2EB82E; /* green */
  display: block;
  position: absolute;
  top: 12px;
  right: 20%;
  font-size: 18px;
  text-shadow: 1px 1px 5px white;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 600px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

#corporations-caption {
  background-color: rgba(224,224,224,0.7);
  border-radius: 15px;
  color: rgb(64,64,64);
  text-shadow: none;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}

.carousel-indicators li {
  border: 1px solid rgb(64,64,64);
}
.carousel-indicators .active {
  background-color: #777;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/***************** Projects *******************/

.welcome {
  padding-left: 30px;
}
#projects-section {
  margin-top: -25px;
}

/************* Navigation Menu ************/

.nav-stacked > li {
  border-color: gray;
  border-style: solid;
  border-width: thin;
}
.nav-stacked > li.active {
  background-color: orange;
}
.nav-stacked > li > a {
  color: black;
}

.user-buttons {
  text-align: center;
}

.nav-tabs {
  padding-left: 20px;
}

.projects-list {
  padding-left: 30px;
}

.table {
  width: 90%;
  margin-bottom: 20px;
}

td:hover {
    cursor: pointer;
}

.bar {
  margin-bottom: 10px;
  color: #fff;
  padding: 4px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7617), to(#ba550f));
  background-color: #ff7617;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-animation-name:bar;
  -webkit-animation-duration:0.5s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-timing-function:ease-out;
  display: inline-block;
}

#project-edit-buttons {
  margin-left: 10px;
}

.project-edit-btn {
  margin-top: 10px;
  margin-bottom: 30px;
}

/******************** Project Details *********************/

#top {
  left: 0;
  right: 0;
  top: 100px;
  height: 300px;
}
#bottom {
  left: 0;
  right: 0;
  top: 350px;
  height: auto;
}
#packages-table {
  /*max-height: 100px;*/
  overflow-y: scroll;
  display: block;
  overflow: scroll;
  border-style: solid;
  border-width: thin;
}
#packages-table > tbody {
  width: 100%;
  display: inline-table;
}

/******************* Create New Project ******************/

label {
  font-size: 17px;
}
#table-label {
  font-size: 15px;
  color: gray;
}
#input-field {
  width: 400px;
}
#one-row {
  margin-top: 15px;
}
#table-button {
  margin-top: 10px;
  color: white;
  background-color: orange;
  border-style: solid;
  border-width: thin;
  border-color: gray;
}
#table-button:hover {
  color: black;
}
#select-input {
  margin-top: 5px;
}
#project-goal {
  width: 200px;
  border-radius: 2px;
}
#project-goal-addon {
  width: 35px;
}
.table-input-row {
  width: 150px;
}


/************************** Project Preview ********************/

#img-placeholder {
  width: 250px;
}

/**************************** Search **************************/

.title {
  text-align: center;
}

.search-results {
  margin-left: 20px;
}

.search-filters {
  margin-left: 10px;
}

.long-field-select {
  width: 275px;
  margin-bottom: 15px;
}

.do-next-options {
  text-align: center;
}
.search-btn {
  margin-bottom: 10px;
  width: 200px;
}

#btn-row {
  text-align: center;
}

#search-btn {
  margin-bottom: 20px;
  margin-top: 20px;
}

.pagination {
  display: inline;
  height: 40px;

}
.pagination > ul {
  display: flex;
}
.pagination > ul > li {
    margin-right: 10px;
    list-style: none;
}
.pagination ul > .disabled > a {
  color: #999999;
  background-color: transparent;
  cursor: default;
  text-decoration: none;
}
.pagination ul>.active>a, .pagination ul>.active>span {
  color: green;
}

#companies-results-table {
  border-color: gray;
}

#companies-results-table > tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit;
}

.table th, .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

/************************ Small Business ******************/

#small-business-top {
  margin-top: 30px;
}
.business-caption {
  padding-top: 40px;
}

/*********************** Footer **************************/

.footer {
  width: 100%;
  height: 50px;
  background-color: orange;
  clear: both;
  position: relative;
  z-index: 10;
  padding-top: 15px;
  padding-left: 15px;
}

.text-muted {
  color: white;
  font-size: 13px;
}
