<div class="container business">
	<div class="row" id="small-business-top">
		<div class="col-lg-4 text-center">
			<a href="http://www.sfbaysuperbowl.com/"><img src="img/business/superbowl50.png" class="img-square" style="width:64%;height:216px;"></a>
			<h2 class="business-caption">Superbowl 50</h2>
		</div>
		<div class="col-lg-4 text-center">
			<img src="img/business/SacKings_Stadium.jpg" class="img-square" style="width:100%;height:216px;">
			<h2 class="business-caption">Commercial Project</h2>
		</div>
		<div class="col-lg-4 text-center">
			<img src="img/business/BART_WarmSprings_Station_Overview.jpg" class="img-square" style="width:100%;height:216px;">
			<h2 class="business-caption">Transit Project</h2>
		</div>
	</div>
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-5">
			<iframe src="//player.vimeo.com/video/67882670" width="100%;" height="250px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/67882670">Making The Leadenhall Building</a> from <a href="http://vimeo.com/rafteryandlowe">Paul Raftery and Dan Lowe</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
		</div>
		<div class="col-md-4">
			<h4>Centralize your small business data</h4>
			<h4>Eliminate providing duplicate information and streamline your certification process</h4>
			<h4>Market your business for free to major corporations and government entities</h3>
			<h4>Find, connect and network with other small businesses</h4>
			<a class="btn btn-lg btn-primary" href="#business" role="button">Register Today</a>
		</div>
		<div class="col-md-3 text-center">
			<h2>Featured Projects</h2>
		</div>
	</div>
	<div class="row featurette">
		<div class="col-md-9">
			<h4>See the latest procurement & contract opportunities available to grow your business</h4>
			<h4>Get started today</h4>
			<a class="btn btn-lg btn-primary" href="#business" role="button">Search Current Opportunities</a>
		</div>
		<div class="col-md-3 text-center">
			<h2>Hot News</h2>
		</div>
	</div>
</div>