<div class="container business" ng-controller="SmallBusinessCtrl">
	<div class="wrapper clearfix" id="small-business-top">
		<div class="photoset-grid-basic col-md-12 text-center" data-layout="232">
			<figure class="gallery-item" id="first-row-figure">
				<img src="img/business/FLV_California_train.jpg" alt="High Speed Rail" width="100%" height="375" class="img-tile">
				<div class="img-title" id="first-row-title">
            		<h5 id="img-title">California High Speed Rail</h5>    
        		</div>
        	</figure>
        	<figure class="gallery-item" id="first-row-figure">
				<img src="img/business/apple-hq15.jpg" alt="Apple Headquarters" width="100%" height="375" class="img-tile">
				<div class="img-title" id="first-row-title">
            		<h5 id="img-title">Apple's 'Spaceship' Campus</h5>    
        		</div>
        	</figure>
        	<figure class="gallery-item" id="second-row-figure">
				<img src="img/business/Kaiser-Permanente-San_Diego.jpg" alt="Kaiser Hospital" width="100%" height="275" class="img-tile">
				<div class="img-title" id="second-row-title">
            		<h5 id="img-title">Kaiser Permanente Hospital</h5>    
        		</div>
        	</figure>
        	<figure class="gallery-item" id="second-row-figure">
				<img src="img/business/superbowl50.png" alt="Superbowl 50" width="100%" height="275" class="img-tile">
				<div class="img-title" id="second-row-title">
            		<h5 id="img-title">Superbowl 50</h5>    
        		</div>
        	</figure>
        	<figure class="gallery-item" id="second-row-figure">
				<img src="img/business/SacKings_Stadium.jpg" alt="Sacramento Kings Stadium - Sports" width="100%" height="275" class="img-tile">
				<div class="img-title" id="second-row-title">
            		<h5 id="img-title">Sacramento Kings Stadium</h5>    
        		</div>
        	</figure>
        	<figure class="gallery-item" id="third-row-figure">
				<img src="img/business/PortLongBeach.jpeg" alt="Port of Long Beach" width="100%" height="375" class="img-tile">
				<div class="img-title" id="third-row-title">
            		<h5 id="img-title">Port of Long Beach</h5>    
        		</div>
        	</figure>
        	<figure class="gallery-item" id="third-row-figure">
				<img src="img/business/transbay-transit-center.jpg" alt="Transbay Transit Center" width="100%" height="375" class="img-tile">
				<div class="img-title" id="third-row-title">
            		<h5 id="img-title">Transbay Transit Center</h5>    
        		</div>
        	</figure>
		</div>
	</div>
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-4">
			<iframe src="//player.vimeo.com/video/67882670" width="100%;" height="250px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/67882670">Making The Leadenhall Building</a> from <a href="http://vimeo.com/rafteryandlowe">Paul Raftery and Dan Lowe</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
		</div>
		<div class="col-md-5">
			<h4>Eliminate duplication and securely store and centralize your small business data</h4><h4>Securely upload and make available to specific viewers pertinent documents about your business (i.e. license, certifications, insurance information, financials)</h4>
			<h4>Create your small business profile and market your business for free to major corporations and government entities</h4>
			<h4>Find, network and joint venture with other small businesses on an opportunity</h4>
			<h4>Centralize your communications with prospective clients and track your bids</h4>
			<div class="text-center">
				<a class="btn btn-lg btn-primary" href="#business/register" role="button">Register Today</a>
			</div>
		</div>
		<div class="col-md-3 text-center">
			<h2>Featured Projects</h2>
		</div>
	</div>
	<div class="row featurette">
		<div class="col-md-9">
			<div class="col-md-2 text-center">
    			<img src="img/tenderloin.jpg" style="width:100px;">
  			</div>
		    <div class="col-md-10">
			    <h4>Five-Story Residential Development, plus Neighborhood Retail and Above-Ground Parking</h4>
			    <p>Developer is seeking firms interested in providing professional services, including engineering and related services, for the design and construction of the Project. The Project is comprised of 135 residential units, 10,000 square feet of neighborhood retail, a 41 space above-ground parking structure, and associated amenity spaces. The design features a 5 story Type III building over podium, Type V townhomes and a publicly accessible pedestrian pathway on the Western side of the site. The building will include 45 one-bedroom units, 45 two-bedroom units, 45 three-bedroom units, and all will be affordable to households earning 50% AMI or less, pursuant to the City and County of San Francisco’s Mayor’s Office of Housing & Community Development (“MOHCD”) guidelines.</p>
			    <p>The RFQ, RFP and related documents can be found at: <a href="http://bit.ly/MissionBay6">http://bit.ly/MissionBa</a>
			    <p>RFQ and RFP Submittals Due: <b>Monday, December 15, 2014 by 4:00PM PST</b></p>
			    <p>Small Business Enterprises (SBEs), LBEs, MBEs, and WBEs are encouraged to respond</p>
		    </div>
			<h4>See the latest procurement & contract opportunities available to grow your business</h4>
			<h4>Get started today</h4>
			<div class="text-center">
				<a class="btn btn-lg btn-primary" href="#business" role="button">View Opportunities</a>
			</div>
		</div>
		<div class="col-md-3 text-center">
			<h2>Hot News</h2>
		</div>
	</div>
</div>