<div class="container business">
	<div class="row" id="small-business-top">
		<div class="photoset-grid-basic col-md-12 text-center" data-layout="232">
			<img src="img/business/FLV_California_train.jpg" alt="High Speed Rail" width="48%" height="375">
			<img src="img/business/apple-hq15.jpg" alt="Apple Headquarters" width="48.5%" height="375">
			<img src="img/business/Kaiser-Permanente-San_Diego.jpg" alt="Kaiser Hospital" width="32%" height="275">
			<img src="img/business/superbowl50.png" alt="Superbowl 50" width="32%" height="275">
			<img src="img/business/SacKings_Stadium.jpg" alt="Sacramento Kings Stadium - Sports"width="32%" height="275">
			<img src="img/business/PortLongBeach.jpeg" alt="Port of Long Beach" width="48%" height="375">
			<img src="img/business/transbay-transit-center.jpg" alt="Transbay Transit Center" width="48.5%" height="375">
		</div>
	</div>
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-4">
			<iframe src="//player.vimeo.com/video/67882670" width="100%;" height="250px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/67882670">Making The Leadenhall Building</a> from <a href="http://vimeo.com/rafteryandlowe">Paul Raftery and Dan Lowe</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
		</div>
		<div class="col-md-5">
			<h4>Eliminate duplication and securely store and centralize your small business data</h4><h4>Securely upload and make available to specific viewers pertinent documents about your business (i.e. license, certifications, insurance information, financials)</h4>
			<h4>Create your small business profile and market your business for free to major corporations and government entities</h4>
			<h4>Find, network and joint venture with other small businesses on an opportunity</h4>
			<h4>Centralize your communications with prospective clients and track your bids</h4>
			<div class="text-center">
				<a class="btn btn-lg btn-primary" href="#business/register" role="button">Register Today</a>
			</div>
		</div>
		<div class="col-md-3 text-center">
			<h2>Featured Projects</h2>
		</div>
	</div>
	<div class="row featurette">
		<div class="col-md-9">
			<h4>See the latest procurement & contract opportunities available to grow your business</h4>
			<h4>Get started today</h4>
			<div class="text-center">
				<a class="btn btn-lg btn-primary" href="#business" role="button">Search Bids</a>
			</div>
		</div>
		<div class="col-md-3 text-center">
			<h2>Hot News</h2>
		</div>
	</div>
</div>