<nav class="navbar-fixed-top" role="navigation" id="search-nav">
 	<div class="container">
  		<div class="collapse navbar-collapse" id="projects-navigation">
      		<ul class="nav navbar-nav sub-nav">
        		<li><a href="#search">SBE/DBE Search</a></li>
        		<li><a href="#">Post Project Bid Invitation</a></li>
        		<li class="active"><a href="#calculator">SBE/DBE Calculator</a></li>
        		<li><a href="#">Schedule Communication</a></li>
        		<li><a href="#">Reports</a></li>
        		<li><a href="#">Blog</a></li>
      		</ul>
  		</div>
	</div>
</nav>
<div class="container" id="calculator-container" ng-controller="CalculatorCtrl">
	<div class="col-md-12 text-center">
		<h2>Select a project: </h2>
		<select ng-model="project" ng-change="selectProject()" data-ng-options="project as project.name for project in projects">
    		<option value="">Select Project</option>
		</select>
	</div>
	<div class="col-md-12">
		<div class="col-md-8">
			<h3>Project Goals</h3>
			<div class="row">
				<div class="col-md-6">
					<label>Overall Project SBE/DBE Goal: </label>
					<span ng-bind="project.goalPercentage"></span>%
				</div>
				<div class="col-md-6">
					<label>Goal Amount: </label>
					$<span ng-bind="goalAmount"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label>Overall Bid Package SBE/DBE Goal: </label>
					<span ng-bind="bidGoalPercentage"></span>%
				</div>
				<div class="col-md-6">
					<label>Goal Amount: </label>
					$<span ng-bind="bidGoalAmount"></span>
				</div>
			</div>
			<h3>Project Bids</h3>
			<div class="col-md-12">
			<div class="row">
				<label>Current Running Estimate Based on Received Bids: </label>
				$<span ng-bind="project.bidValue"></span>
			</div>
			<div class="row">
				<label>Current Actual Total Based on Confirmed Subcontractor Bids: </label>
				<div class="input-group" id="input-field">
				    <span class="input-group-addon">$</span>
				    <input type="number" class="form-control" ng-model="actualBidValue">
				    <span class="input-group-addon">.00</span>
				</div>
			</div>
			<div class="row">
				<label>Current Number of Bids: </label>
				<span></span>
			</div>
			<div class="row">
				<label>Total Number of Bids (Overall Project): </label>
				<span ng-bind="project.bidPackages.length"></span>
			</div>
			<div class="row">
				<label>Number of Bids by Women-Owned Business: </label>
				<span></span>
			</div>
			<div class="row">
				<label>Number of Bids by Minority-Owned Business: </label>
				<span></span>
			</div>
			<div class="row">
				<label>Number of Bids by Disabled Veteran-Owned Business: </label>
				<span></span>
			</div>
			<div class="row">
				<label>Number of Bids by LGBT-Owned Business: </label>
				<span></span>
			</div>
			</div>
		</div>
		<div class="col-md-4">
			<h3>Counters</h3>
			<div class="row">
				<span><b>SBE/DBE achieved to date:</b></span>
			</div>
			<div class="row">
				<div class="bar" style="width: {{project.goalPercentage}}%">{{project.goalPercentage}}%</div>
			</div>
			<div class="row">
				<span><b>SBE/DBE achieved to date:</b></span>
			</div>
			<div class="row">
				<div class="bar" style="width: {{bidGoalPercentage}}%">{{bidGoalPercentage}}%</div>
			</div>
			<div class="row">
				<span><b>Days remaining:</b> {{daysRemaining}}</span>
			</div>
			<h3>YTD</h3>
			<div class="row">
				<span><b>% of companies by Women</b></span>
			</div>
			<div class="row">
				<span><b>% of companies by classification type</b></span>
			</div>
		</div>
	</div>
</div>