<nav class="navbar-fixed-top" role="navigation" id="search-nav">
 	<div class="container">
  		<div class="collapse navbar-collapse" id="projects-navigation">
      		<ul class="nav navbar-nav sub-nav">
        		<li><a href="#search">SBE/DBE Search</a></li>
        		<li><a href="#">Post Project Bid Invitation</a></li>
        		<li class="active"><a href="#calculator">SBE/DBE Calculator</a></li>
        		<li><a href="#">Schedule Communication</a></li>
        		<li><a href="#">Reports</a></li>
        		<li><a href="#">Blog</a></li>
      		</ul>
  		</div>
	</div>
</nav>
<div class="container" id="calculator-container" ng-controller="CalculatorCtrl">
	<div class="col-md-12 text-center">
		<h2>Select a project: </h2>
		<select ng-model="project" ng-change="selectProject()" data-ng-options="project as project.name for project in projects">
    		<option value="">Select Project</option>
		</select>
	</div>
	<div class="col-md-12">
		<div class="col-md-8">
			<h3>Project Goals</h3>
		</div>
		<div class="col-md-4">
			<h3>Counters</h3>
		</div>
	</div>
	<div class="col-md-4">
		<div class="row text-bigger">
			<span>Overall Project SBE/DBE Goal: </span>
			<b><span ng-bind="project.goalPercentage"></span>%</b>
		</div>
		</br></br></br></br>
		<div class="row text-bigger">
			<span>Overall Bid Package SBE/DBE Goal: </span>
			<b><span ng-bind="bidGoalPercentage"></span>%</b>
		</div>
	</div>
	<div class="col-md-4">
		<div class="row text-bigger">
			<span>Goal Amount: </span>
			<b>$<span ng-bind="goalAmount"></span></b>
		</div>
		</br></br></br></br>
		<div class="row text-bigger">
			<span>Goal Amount: </span>
			<b>$<span ng-bind="bidGoalAmount"></span></b>
		</div>
	</div>
	<div class="col-md-4">
		<div class="row text-bigger">
			<span>SBE/DBE achieved to date:</span>
			<div class="bar" style="width: {{project.goalPercentage}}%">{{project.goalPercentage}}%</div>
		</div>
		<div class="row text-bigger">
			<span>Days remaining: <b>{{daysRemaining}}</b></span>
		</div>
		</br>
		<div class="row text-bigger">
			<span>SBE/DBE achieved to date:</span>
			<div class="bar" style="width: {{bidGoalPercentage}}%">{{bidGoalPercentage}}%</div>
		</div>
		<div class="row text-bigger">
			<span>Days remaining: <b>{{daysRemaining}}</b></span>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-8">
			<h3>Bids</h3>
			<div class="row text-bigger">
				<span>Current Running Estimate Based on Received Bids: </span>
				<b>$<span ng-bind="project.bidValue"></span></b>
			</div>
			<div class="row text-bigger">
				<span>Current Actual Total Based on Confirmed Subcontractor Bids: </span>
				<b>$<span></span></b>
			</div>
			</br>
			</br>
			<table class="table table-bordered" style="width:100%;margin-left:-20px;">
				<thead>
			        <tr>
			        	<th></th>
			            <th>Current Number of Bids</th>
			            <th>Total Number of Bids (Overall Project)</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			        	<td>Number of Bids by Small Business (all)</td>
			        	<td><b><span ng-bind="project.bidPackages.length"></span></b></td>
			        	<td>0</td>
			        </tr>
			        <tr>
			        	<td>Number of Bids by Women-Owned Business</td>
			        	<td>0</td>
			        	<td>0</td>
			        </tr>
			        <tr>
			        	<td>Number of Bids by Minority-Owned Business</td>
			        	<td>0</td>
			        	<td>0</td>
			        </tr>
			        <tr>
			        	<td>Number of Bids by Disabled Veteran-Owned Business</td>
			        	<td>0</td>
			        	<td>0</td>
			        </tr>
			        <tr>
			        	<td>Number of Bids by LGBT-Owned Business</td>
			        	<td>0</td>
			        	<td>0</td>
			        </tr>
			    </tbody>
			</table>
		</div>
		<div class="col-md-4">
			<h3>Year-To-Date</h3>
			<div class="row">
				<span><b>% of companies by Women</b></span>
			</div>
			<div class="row">
				<span><b>% of companies by classification type</b></span>
			</div>
		</div>
	</div>
</div>
