<div id="homeBanner">
  <div class="banner">
    <img src="img/home/city_kit_by_mangotangofox-d3aaw3u.jpg">
    <div class="container">
      <div class="carousel-caption">
        <h1 id="home-caption-top"><b>DISCOVER <i class="fa fa-circle"></i> CONNECT <i class="fa fa-circle"></i> TRANSACT</b></h1>
        <h1 id="home-caption-bottom">Welcome to BILD!</h1>
      </div>
    </div>
  </div>
</div>
<div class="featurette" id="sign-up-options">
<div class="col-md-12 text-center">
  <div class="col-md-6">
    <img src="img/home/skyscrapers_corporate.jpg" width="80%" height="250">
    <a class="btn btn-lg btn-primary" href="#corporations" role="button">Sign Up as a CORPORATION</a>
  </div>
  <div class="col-md-6">
    <img src="img/home/SmallBusiness-Program.jpg" width="80%" height="250">
    <a class="btn btn-lg btn-primary" href="#business" role="button">Sign Up as a SMALL BUSINESS</a>
  </div>
</div>
</div>
<div class="featurette">
  <div class="col-md-12" id="home-caption">
    <h2 class="home-featurette-heading">Collaborating on procurement and contract opportunities has never been easier!</h2>
  </div>
</div>
<div class="featurette">
  <div class="col-md-12">
    </br>
    </br>
    <h2 class="lead-muted">Featured Project of the Week</h2>
    <p class="lead">Apple 'spaceship' Campus 2</p>
  </div>
  <div class="col-md-7">
    <iframe src="//player.vimeo.com/video/105024874" width="600" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/105024874">Aerial footage of Apple's 'spaceship' Campus 2, part 1 — AppleInsider</a> from <a href="http://vimeo.com/appleinsider">AppleInsider</a> on <a href="https://vimeo.com">Vimeo</a></p>
  </div>
</div>
<div class="featurette">
  <div class="col-md-12">
    </br>
    </br>
    <h2 class="lead-muted">Hot New Bid Opportunities</h2>
    </br>
  </div>
  <div class="col-md-2 text-center">
    <img src="img/tenderloin.jpg" style="width:100px;">
  </div>
  <div class="col-md-10">
    <h4>Five-Story Residential Development, plus Neighborhood Retail and Above-Ground Parking</h4>
    <p>Developer is seeking firms interested in providing professional services, including engineering and related services, for the design and construction of the Project. The Project is comprised of 135 residential units, 10,000 square feet of neighborhood retail, a 41 space above-ground parking structure, and associated amenity spaces. The design features a 5 story Type III building over podium, Type V townhomes and a publicly accessible pedestrian pathway on the Western side of the site. The building will include 45 one-bedroom units, 45 two-bedroom units, 45 three-bedroom units, and all will be affordable to households earning 50% AMI or less, pursuant to the City and County of San Francisco’s Mayor’s Office of Housing & Community Development (“MOHCD”) guidelines.</p>
    <p>The RFQ, RFP and related documents can be found at: <a href="http://bit.ly/MissionBay6">http://bit.ly/MissionBa</a>
    <p>RFQ and RFP Submittals Due: <b>Monday, December 15, 2014 by 4:00PM PST</b></p>
    <p>Small Business Enterprises (SBEs), LBEs, MBEs, and WBEs are encouraged to respond</p>
    <a class="btn btn-lg btn-primary" href="#" role="button">View Opportunities</a>
  </div>
</div>