<div id="homeBanner">
  <div class="banner">
    <img src="img/SFcropped.jpg" alt="SF Banner">
    <div class="container">
      <div class="carousel-caption">
        <h1>Welcome to B.i.L.D!</h1>
        <h2>B.i.L.D - Where Big Business finds Small Business to connect, communicate, and contract</h2>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
      </div>
    </div>
  </div>
</div>
<div class="featurette">
  <div class="col-md-12">
    <h2 class="home-featurette-heading">B.i.L.D's collaborative platform centralizes and integrates information making it easier for small business, government and private industry to contract with each other, driving local economic growth and BILD sustainable communities.</h2>
  </div>
</div>
<div class="featurette">
  <div class="col-md-12">
    <h2 class="project-heading">Featured Project of the Week</h2>
    <p class="lead">The new Transbay Transit Center and Development in Surrounding Neighborhood</p>
  </div>
  <div class="col-md-7">
    <iframe width="1060" height="596" src="http://pdl.vimeocdn.com/41430/735/289108785.mp4?token2=1416615135_6f2fbc9cef3a53ea40eec324edf84c3d&amp;aksessionid=e128c2e57db6d529" frameborder="0" allowfullscreen></iframe>
  </div>
</div>