<div class="container-fluid">
	<h2>Create New Project</h2>
	<form>
		<div class="col-md-12" ng-controller="NewProjectCtrl">
			<div class="col-md-7" id="one-row">
			    <label for="projectName">Project Name</label>
			    <input id="input-field" type="text" class="form-control" placeholder="Project Name" ng-model="project.name" required>
			</div>
			<div class="col-md-7" id="one-row">
			    <label for="projectValue">Project Value</label>
			    <div class="input-group" id="input-field">
				    <span class="input-group-addon">$</span>
				    <input type="number" class="form-control" placeholder="Project Value" ng-model="project.value">
				    <span class="input-group-addon">.00</span>
				</div>
			</div>
			<div class="col-md-12" id="one-row">
			    <label for="projectBidPackages">Project Bid Packages</label>
			    <table>
					<tr id="input-field">
						<th class="table-input-row">Name</th>
						<th class="table-input-row">Value $</th>
						<th class="table-input-row">SBE/DBE Goal %</th>
					</tr>
					<tr ng-repeat="bidPackage in project.bidPackages">
					  <td><span ng-bind="bidPackage.name" required></span></td>
					  <td>$<span ng-bind="bidPackage.value" required></span></td>
					  <td><span ng-bind="bidPackage.goal" required></span>%</td>
					</tr>
				</table>
			    <table>
					<tr>
					  <td><input ng-model="bidPackage.name" placeholder="Name" class="table-input-row"></td>
					  <td><input ng-model="bidPackage.value" placeholder="Value" class="table-input-row"></td>
					  <td><input ng-model="bidPackage.goal" placeholder="Goal" class="table-input-row"></td>
					</tr>
					<td colspan="3">
						<input id="table-button" type="Button" value="Add New Bid Package" ng-click="addPackage(bidPackage)">
					</td>
				</table>
			</div>
			<div class="col-md-12" id="one-row">
		    	<label for="projectLocation">Project Location</label>
		    </div>
		    <div class="col-md-4 text-center">
		    	<label for="projectCity" id="table-label">City</label>
		    	<input type="text" class="form-control" placeholder="City" ng-model="project.location.city">
		    </div>
		    <div class="col-md-2 text-center">
		    	<label for="projectState" id="table-label">State</label></br>
		    	<select name="state" ng-model="project.location.state" placeholder="State" id="select-input">
			    	<option value="AL">Alabama</option>
			    	<option value="AK">Alaska</option>
			    	<option value="AZ">Arizona</option>
			    	<option value="AR">Arkansas</option>
			    	<option value="CA">California</option>
			    	<option value="CO">Colorado</option>
			    	<option value="CT">Connecticut</option>
			    	<option value="DE">Delaware</option>
			    	<option value="FL">Florida</option>
			    	<option value="GA">Georgia</option>
			    	<option value="HI">Hawaii</option>
			    	<option value="ID">Idaho</option>
			    	<option value="IL">Illinois</option>
			    	<option value="IN">Indiana</option>
			    	<option value="IA">Iowa</option>
			    	<option value="KS">Kansas</option>
			    	<option value="KY">Kentucky</option>
			    	<option value="LA">Louisiana</option>
			    	<option value="ME">Maine</option>
			    	<option value="MD">Maryland</option>
			    	<option value="MA">Massachusetts</option>
			    	<option value="MI">Michigan</option>
			    	<option value="MN">Minnesota</option>
			    	<option value="MS">Mississippi</option>
			    	<option value="MO">Missouri</option>
			    	<option value="MT">Montana</option>
			    	<option value="NE">Nebraska</option>
			    	<option value="NV">Nevada</option>
			    	<option value="NH">New Hampshire</option>
			    	<option value="NJ">New Jersey</option>
			    	<option value="NM">New Mexico</option>
			    	<option value="NY">New York</option>
			    	<option value="NC">North Carolina</option>
			    	<option value="ND">North Dakota</option>
			    	<option value="OH">Ohio</option>
			    	<option value="OK">Oklahoma</option>
			    	<option value="OR">Oregon</option>
			    	<option value="PA">Pennsylvania</option>
			    	<option value="RI">Rhode Island</option>
			    	<option value="SC">South Carolina</option>
			    	<option value="SD">South Dakota</option>
			    	<option value="TN">Tennessee</option>
			    	<option value="TX">Texas</option>
			    	<option value="UT">Utah</option>
			    	<option value="VT">Vermont</option>
			    	<option value="VA">Virginia</option>
			    	<option value="WA">Washington</option>
			    	<option value="WV">West Virginia</option>
			    	<option value="WI">Wisconsin</option>
			    	<option value="WY">Wyoming</option>
		    	</select>
		    </div>
		    <div class="col-md-3 text-center">
		    	<label for="projectZipcode" id="table-label">Zip Code</label>
		    	<input type="text" class="form-control" placeholder="Zip Code" ng-model="project.location.zipcode">
		    </div>
			<div class="col-md-12" id="one-row">
			    <label for="projectName">Bid Project Value</label>
			    <div class="input-group" id="input-field">
				    <span class="input-group-addon">$</span>
				    <input type="number" class="form-control" placeholder="Bid Project Value" ng-model="project.bidValue">
				    <span class="input-group-addon">.00</span>
				</div>
			</div>
			<div class="col-md-12" id="one-row">
			    <label for="projectName">Project Duration</label>
			</div>
			<div class="col-md-4">
			    <input type="number" class="form-control" placeholder="Project Duration" ng-model="project.duration" id="input-field">
			</div>
			<div class="col-md-2 text-center">
			    <select name="durationUnits" ng-model="project.durationUnits" id="select-input">
			    	<option value="months">months</option>
			    	<option value="years">years</option>
			    </select>
			</div>
			<div class="col-md-12" id="one-row">
			    <label for="projectGoal">SBE/DBE Goal</label>
			    <div class="input-group">
				    <input type="number" class="form-control" ng-model="project.goalPercentage" placeholder="0-100" id="project-goal">
				    <span class="input-group-addon" id="project-goal-addon">%</span>
				</div>
			</div>
			<div class="col-md-12" id="one-row">
			    <label for="companyUsers">Company Contact Information</label>
			    <table>
					<tr>
						<th class="table-input-row">User Name</th>
						<th class="table-input-row">Position</th>
						<th class="table-input-row">Phone #</th>
						<th class="table-input-row">Email</th>
					</tr>
					<tr ng-repeat="user in project.users">
					  <td><span ng-bind="user.name" required></span></td>
					  <td><span ng-bind="user.position" required></span></td>
					  <td><span ng-bind="user.phone" required></span></td>
					  <td><span ng-bind="user.email" required></span></td>
					</tr>
				</table>
			    <table>
					<tr>
					  <td><input ng-model="user.name" class="table-input-row"></td>
					  <td><input ng-model="user.position" class="table-input-row"></td>
					  <td><input ng-model="user.phone" class="table-input-row"></td>
					  <td><input ng-model="user.email" class="table-input-row"></td>
					</tr>
					<td colspan="2">
						<input id="table-button" type="Button" value="Add New Contact" ng-click="addUser(user)">
					</td>
				</table>
			</div>
			<div class="col-md-12" id="one-row">
			    <label for="photosAndDocuments">Photos and Documents</label>
			</div>
				<div class="col-md-3">
					<input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)">
					<!-- <button type="submit" class="btn btn-secondary">Upload Files</button> -->
				</div>
				<!-- <div class="col-md-3">
					<button type="submit" class="btn btn-secondary">Upload Documents</button>
				</div> -->
			
			<div class="col-md-12">
				<button type="submit" class="btn btn-primary" ng-click="preview(project)">PREVIEW</button>
			</div>
		</div>
	</form>
</div>