<h3>Project Preview</h3>
<div ng-controller="ProjectPreviewCtrl">
	<div class="col-md-6">
		<div class="col-md-12">
		    <label for="projectName">Project Name: </label>
		    <span ng-bind="project.name"></span>
		</div>
		<div class="col-md-12">
		    <label for="projectName">Overall Project Value: </label>
		    $ <span ng-bind="project.value"></span>.00
		</div>
		<div class="col-md-12">
		    <label for="projectBidPackages">Project Bid Packages</label>
		    <table>
				<tr>
					<th class="table-input-row">Name</th>
					<th class="table-input-row">Value</th>
					<th class="table-input-row">SBE/DBE Goal</th>
				</tr>
				<tr ng-repeat="bidPackage in project.bidPackages">
				  <td><span ng-bind="bidPackage.name"></span></td>
				  <td>$<span ng-bind="bidPackage.value"></span></td>
				  <td><span ng-bind="bidPackage.goal"></span>%</td>
				</tr>
			</table>
		</div>
		<div class="col-md-12">
		    <label for="projectName">Overall Bid Project Value: </label>
		    $ <span ng-bind="project.bidValue"></span>.00
		</div>
		<div class="col-md-12">
		    <label for="projectName">Project Location: </label>
		    <span ng-bind="project.location.city"></span>
		    <span ng-bind="project.location.state" style="text-transform:uppercase;"></span>
		    <span ng-bind="project.location.zipcode"></span>
		</div>
		<div class="col-md-12">
		    <label for="projectName">Project Duration: </label>
		    <span ng-bind="project.duration"></span>
		    <span ng-bind="project.durationUnits"></span>
		</div>
		<div class="col-md-12">
		    <label for="projectName">SBE/DBE Goal: </label>
		    <span ng-bind="project.goalPercentage"></span> %
		</div>
		<div class="col-md-12">
		    <label for="projectName">Company Contact Information</label></br>
		    <table>
				<tr>
					<th class="table-input-row">Name</th>
					<th class="table-input-row">Position</th>
					<th class="table-input-row">Phone</th>
					<th class="table-input-row">Email</th>
				</tr>
				<tr ng-repeat="user in project.users">
				  <td><span ng-bind="user.name"></span></td>
				  <td><span ng-bind="user.position"></span></td>
				  <td><span ng-bind="user.phone"></span></td>
				  <td><span ng-bind="user.email"></span></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-6 text-center">
		<label for="photosAndDocuments">Photos and Documents</label></br>
		<div class="col-md-12" ng-repeat="file in project.files">
			<img id="img-placeholder" src="img/{{file.name}}">
		</div>
		<div class="col-md-12">
			<img id="img-placeholder" src="img/MapPlaceholder.png">
		</div>
	</div>
	<div class="col-md-12">
		<button type="submit" class="btn btn-primary" id="publish-btn" ng-click="publish(project)">PUBLISH</button>
		<button type="submit" class="btn btn-primary" id="cancel-btn" ng-click="cancel()">CANCEL</button>
	</div>
</div>