<h2>Welcome, User!</h2>

<div class="col-md-12">
 	<p class="trial-button">
 		<a class="btn btn-lg btn-primary" href="#createnew" role="button">Create New Project</a>
 		<a class="btn btn-lg btn-primary" href="#search" role="button">Search</a>
 	</p>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation"><a href="#projects">Projects</a></li>
  <li role="presentation" class="active"><a href="#profile">Profile</a></li>
  <li role="presentation"><a href="#messages">Messages</a></li>
</ul>
<h1>Profile</h1>