<h3>Project Details</h3>
<div class="col-md-12" ng-controller="ProjectDetailsCtrl">
	<div class="col-md-12">
	    <label for="projectName">Project Name: </label>
	    <span ng-bind="project.name"></span>
	</div>
	<div class="col-md-12">
	    <label for="projectName">Project Bid Package Name: </label>
	    <span ng-bind="project.bidPackageName"></span>
	</div>
	<div class="col-md-12">
	    <label for="projectName">Project Location: </label>
	    <span ng-bind="project.location.city"></span>
	    <span ng-bind="project.location.state"></span>
	    <span ng-bind="project.location.zipcode"></span>
	</div>
	<div class="col-md-12">
	    <label for="projectName">Overall Project Value: </label>
	    $ <span ng-bind="project.value"></span>.00
	</div>
	<div class="col-md-12">
	    <label for="projectName">Bid Project Value: </label>
	    $ <span ng-bind="project.bidValue"></span>.00
	</div>
	<div class="col-md-12">
	    <label for="projectName">Project Duration: </label>
	    <span ng-bind="project.duration"></span>
	    <span ng-bind="project.durationUnits"></span>
	</div>
	<div class="col-md-12">
	    <label for="projectName">SBE/DBE Goal: </label>
	    <span ng-bind="project.goalPercentage"></span> %
	</div>
	<div class="col-md-12">
	    <label for="projectName">Company Contact Information:</label></br>
	    Manager Name: <span ng-bind="project.contact.managerName"></span></br>
	    Manager Phone #: <span ng-bind="project.contact.managerPhone"></span></br>
	    Manager Email: <span ng-bind="project.contact.managerEmail"></span>
	</div>
</div>