<div class="welcome">
	<h2>Welcome, User!</h2>
	<h3>Connect with over # small businesses within our system<h3>
</div>
<div class="col-md-12 user-buttons">
 	<p class="trial-button">
 		<a class="btn btn-lg btn-primary" href="#createnew" role="button">Create New Project</a>
 		<a class="btn btn-lg btn-primary" href="#search" role="button">Search</a>
 	</p>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#projects">Projects</a></li>
  <li role="presentation"><a href="#">People</a></li>
  <li role="presentation"><a href="#profile">Profile</a></li>
  <li role="presentation"><a href="#">Settings</a></li>
  <li role="presentation"><a href="#messages">Messages</a></li>
</ul>

<div ng-controller="ProjectsCtrl" class="projects-list">
	<h2>Total Number of Projects: {{projectsCount}}</h2>
	<h2>Total Value of Projects: $ {{projectsValue}}.00</h2>

	<table class="table table-bordered">
		<thead>
	        <tr>
	            <th>Project Name</th>
	            <th>Value $</th>
	            <th>Created At</th>
	            <th>SBE/DBE Goal %</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="project in projects" ng-click="setSelected();">
	            <td><span ng-bind="project.name"></span></td>
	            <td><span ng-bind="project.value"></span></td>
	            <td><span ng-bind="project.createdAt"></span></td>
	            <td><span ng-bind="project.goalPercentage"></span></td>
	        </tr>
	    </tbody>
	</table>
</div>
		<!-- <div class="col-md-12">
			<div class="col-md-12">
			    <label for="projectName">Project Name: </label>
			    <span ng-bind="project.name"></span>
			</div>
			<div class="col-md-12">
			    <label for="projectName">Project Bid Package Name: </label>
			    <span ng-bind="project.bidPackageName"></span>
			</div>
			<div class="col-md-12">
			    <label for="projectName">Project Location: </label>
			    <span ng-bind="project.location.city"></span>
			    <span ng-bind="project.location.state"></span>
			    <span ng-bind="project.location.zipcode"></span>
			</div>
			<div class="col-md-12">
			    <label for="projectName">Overall Project Value: </label>
			    $ <span ng-bind="project.value"></span>.00
			</div>
			<div class="col-md-12">
			    <label for="projectName">Bid Project Value: </label>
			    $ <span ng-bind="project.bidValue"></span>.00
			</div>
			<div class="col-md-12">
			    <label for="projectName">Project Duration: </label>
			    <span ng-bind="project.duration"></span>
			    <span ng-bind="project.durationUnits"></span>
			</div>
			<div class="col-md-12">
			    <label for="projectName">SBE/DBE Goal: </label>
			    <span ng-bind="project.goalPercentage"></span> %
			</div>
			<div class="col-md-12">
			    <label for="projectName">Company Contact Information:</label></br>
			    Manager Name: <span ng-bind="project.contact.managerName"></span></br>
			    Manager Phone #: <span ng-bind="project.contact.managerPhone"></span></br>
			    Manager Email: <span ng-bind="project.contact.managerEmail"></span>
			</div>
		</div> -->
	


