<nav class="navbar-fixed-top" role="navigation" id="search-nav">
 	<div class="container">
  		<div class="collapse navbar-collapse" id="projects-navigation">
      		<ul class="nav navbar-nav sub-nav">
        		<li class="active"><a href="#search">SBE/DBE Search</a></li>
        		<li><a href="#">Post Project Bid Invitation</a></li>
        		<li><a href="#calculator">SBE/DBE Calculator</a></li>
        		<li><a href="#">Schedule Communication</a></li>
        		<li><a href="#">Reports</a></li>
        		<li><a href="#">Blog</a></li>
      		</ul>
  		</div>
	</div>
</nav>
<div ng-controller="SearchCtrl" class="search-filters">
	<h3 class="search-results">{{companiesCount}} small businesses found in the database</h3>
	<div class="col-md-3">
		<h4 class="title">Filters</h4>
		<label for="NAICS">NAICS Code</label></br>
		<select class="long-field-select" name="naicscode" ng-model="filter.NAICS">
			<option value="11 Agriculture, Forestry, Fishing, and Hunting">11   Agriculture, Forestry, Fishing, and Hunting</option>
			<option value="21 Mining">21   Mining</option>
			<option value="22 Utilities">22   Utilities</option>
			<option value="23 Construction">23   Construction</option>
			<option value="31 Manufacturing">31   Manufacturing</option>
			<option value="32 Manufacturing">32   Manufacturing</option>
			<option value="33 Manufacturing">33   Manufacturing</option>
			<option value="42 Wholesale Trade">42   Wholesale Trade</option>
			<option value="44 Retail Trade">44   Retail Trade</option>
			<option value="45 Retail Trade">45   Retail Trade</option>
			<option value="48 Transportation and Warehousing">48   Transportation and Warehousing</option>
			<option value="49 Transportation and Warehousing">49   Transportation and Warehousing</option>
			<option value="51 Information">51   Information</option>
			<option value="52 Finance and Insurance">52   Finance and Insurance</option>
			<option value="53 Real Estate and Rental and Leasing">53   Real Estate and Rental and Leasing</option>
			<option value="54 Professional, Scientific, and Technical Services">54   Professional, Scientific, and Technical Services</option>
			<option value="55 Management of Companies and Enterprises">55   Management of Companies and Enterprises</option>
			<option value="56 Admin, Support, Waste Mgt and Remediation Services">56   Admin, Support, Waste Mgt and Remediation Services</option>
			<option value="61 Educational Services">61   Educational Services</option>
			<option value="62 Health Care and Social Assistance">62   Health Care and Social Assistance</option>
			<option value="71 Arts, Entertainment, and Recreation">71   Arts, Entertainment, and Recreation</option>
			<option value="72 Accomodation and Food Services">72   Accomodation and Food Services</option>
			<option value="81 Other Services (except Public Administration)">81   Other Services (except Public Administration)</option>
			<option value="92 Public Administration">92   Public Administration</option>
			<option value="99 Airport Concessionaires">99   Airport Concessionaires</option>
		</select></br>
		<label for="SIC">SIC Code</label></br>
		<select class="long-field-select" name="siccode" ng-model="filter.SIC">
			<option value="01 Agricultural Production - Crops">01 Agricultural Production - Crops</option>
			<option value="02 Agricultural Production - Livestock and Animal Specialties">02 Agricultural Production - Livestock and Animal Specialties</option>
			<option value="07 Agricultural Services">07 Agricultural Services</option>
			<option value="08 Forestry">08 Forestry</option>
			<option value="09 Fishing, Hunting and Trapping">09 Fishing, Hunting and Trapping</option>
			<option value="10 Metal Mining">10 Metal Mining</option>
			<option value="12 Coal Mining">12 Coal Mining</option>
			<option value="13 Oil and Gas Extraction">13 Oil and Gas Extraction</option>
			<option value="14 Mining and Quarrying of Nonmetallic Minerals, Except Fuels">14 Mining and Quarrying of Nonmetallic Minerals, Except Fuels</option>
			<option value="15 Building Cnstrctn - General Contractors & Operative Builders">15 Building Cnstrctn - General Contractors & Operative Builders</option>
			<option value="16 Heavy Construction, Except Building Construction - Contractors">16 Heavy Construction, Except Building Construction - Contractors</option>
			<option value="17 Construction - Special Trade Contractors">17 Construction - Special Trade Contractors</option>
			<option value="20 Food and Kindred Products">20 Food and Kindred Products</option>
			<option value="21 Tobacco Products">21 Tobacco Products</option>
			<option value="22 Textile Mill Products">22 Textile Mill Products</option>
			<option value="23 Apparel, Finished Prdcts from Fabrics & Similar Materials">23 Apparel, Finished Prdcts from Fabrics & Similar Materials</option>
			<option value="24 Lumber and Wood Products, Except Furniture">24 Lumber and Wood Products, Except Furniture</option>
			<option value="25 Furniture and Fixtures">25 Furniture and Fixtures</option>
			<option value="26 Paper and Allied Products">26 Paper and Allied Products</option>
			<option value="27 Printing, Publishing and Allied Industries">27 Printing, Publishing and Allied Industries</option>
			<option value="28 Chemicals and Allied Products">28 Chemicals and Allied Products</option>
			<option value="29 Petroleum Refining and Related Industries">29 Petroleum Refining and Related Industries</option>
			<option value="30 Rubber and Miscellaneous Plastic Products">30 Rubber and Miscellaneous Plastic Products</option>
			<option value="31 Leather and Leather Products">31 Leather and Leather Products</option>
			<option value="32 Stone, Clay, Glass, and Concrete Products">32 Stone, Clay, Glass, and Concrete Products</option>
			<option value="33 Primary Metal Industries">33 Primary Metal Industries</option>
			<option value="34 Fabricated Metal Prdcts, Except Machinery & Transport Eqpmnt">34 Fabricated Metal Prdcts, Except Machinery & Transport Eqpmnt</option>
			<option value="35 Industrial and Commercial Machinery and Computer Equipment">35 Industrial and Commercial Machinery and Computer Equipment</option>
			<option value="36 Electronic, Elctrcl Eqpmnt & Cmpnts, Excpt Computer Eqpmnt">36 Electronic, Elctrcl Eqpmnt & Cmpnts, Excpt Computer Eqpmnt</option>
			<option value="37 Transportation Equipment">37 Transportation Equipment</option>
			<option value="38 Mesr/Anlyz/Cntrl Instrmnts; Photo/Med/Opt Gds; Watchs/Clocks">38 Mesr/Anlyz/Cntrl Instrmnts; Photo/Med/Opt Gds; Watchs/Clocks</option>
			<option value="39 Miscellaneous Manufacturing Industries">39 Miscellaneous Manufacturing Industries</option>
			<option value="40 Railroad Transportation">40 Railroad Transportation</option>
			<option value="41 Local, Suburban Transit & Interurbn Hgwy Passenger Transport">41 Local, Suburban Transit & Interurbn Hgwy Passenger Transport</option>
			<option value="42 Motor Freight Transportation">42 Motor Freight Transportation</option>
			<option value="43 United States Postal Service">43 United States Postal Service</option>
			<option value="44 Water Transportation">44 Water Transportation</option>
			<option value="45 Transportation by Air">45 Transportation by Air</option>
			<option value="46 Pipelines, Except Natural Gas">46 Pipelines, Except Natural Gas</option>
			<option value="47 Transportation Services">47 Transportation Services</option>
			<option value="48 Communications">48 Communications</option>
			<option value="49 Electric, Gas and Sanitary Services">49 Electric, Gas and Sanitary Services</option>
			<option value="50 Wholesale Trade - Durable Goods">50 Wholesale Trade - Durable Goods</option>
			<option value="51 Wholesale Trade - Nondurable Goods">51 Wholesale Trade - Nondurable Goods</option>
			<option value="52 Building Matrials, Hrdwr, Garden Supply & Mobile Home Dealrs">52 Building Matrials, Hrdwr, Garden Supply & Mobile Home Dealrs</option>
			<option value="53 General Merchandise Stores">53 General Merchandise Stores</option>
			<option value="54 Food Stores">54 Food Stores</option>
			<option value="55 Automotive Dealers and Gasoline Service Stations">55 Automotive Dealers and Gasoline Service Stations</option>
			<option value="56 Apparel and Accessory Stores">56 Apparel and Accessory Stores</option>
			<option value="57 Home Furniture, Furnishings and Equipment Stores">57 Home Furniture, Furnishings and Equipment Stores</option>
			<option value="58 Eating and Drinking Places">58 Eating and Drinking Places</option>
			<option value="59 Miscellaneous Retail">59 Miscellaneous Retail</option>
			<option value="60 Depository Institutions">60 Depository Institutions</option>
			<option value="61 Nondepository Credit Institutions">61 Nondepository Credit Institutions</option>
			<option value="62 Security & Commodity Brokers, Dealers, Exchanges & Services">62 Security & Commodity Brokers, Dealers, Exchanges & Services</option>
			<option value="63 Insurance Carriers">63 Insurance Carriers</option>
			<option value="64 Insurance Agents, Brokers and Service">64 Insurance Agents, Brokers and Service</option>
			<option value="65 Real Estate">65 Real Estate</option>
			<option value="67 Holding and Other Investment Offices">67 Holding and Other Investment Offices</option>
			<option value="70 Hotels, Rooming Houses, Camps, and Other Lodging Places">70 Hotels, Rooming Houses, Camps, and Other Lodging Places</option>
			<option value="72 Personal Services">72 Personal Services</option>
			<option value="73 Business Services">73 Business Services</option>
			<option value="75 Automotive Repair, Services and Parking">75 Automotive Repair, Services and Parking</option>
			<option value="76 Miscellaneous Repair Services">76 Miscellaneous Repair Services</option>
			<option value="78 Motion Pictures">78 Motion Pictures</option>
			<option value="79 Amusement and Recreation Services">79 Amusement and Recreation Services</option>
			<option value="80 Health Services">80 Health Services</option>
			<option value="81 Legal Services">81 Legal Services</option>
			<option value="82 Educational Services">82 Educational Services</option>
			<option value="83 Social Services">83 Social Services</option>
			<option value="84 Museums, Art Galleries and Botanical and Zoological Gardens">84 Museums, Art Galleries and Botanical and Zoological Gardens</option>
			<option value="86 Membership Organizations">86 Membership Organizations</option>
			<option value="87 Engineering, Accounting, Research, Management & Related Services">87 Engineering, Accounting, Research, Management & Related Services</option>
			<option value="89 Services, Not Elsewhere Classified">89 Services, Not Elsewhere Classified</option>
			<option value="91 Executive, Legislative & General Government, Except Finance">91 Executive, Legislative & General Government, Except Finance</option>
			<option value="92 Justice, Public Order and Safety">92 Justice, Public Order and Safety</option>
			<option value="93 Public Finance, Taxation and Monetary Policy">93 Public Finance, Taxation and Monetary Policy</option>
			<option value="94 Administration of Human Resource Programs">94 Administration of Human Resource Programs</option>
			<option value="95 Administration of Environmental Quality and Housing Programs">95 Administration of Environmental Quality and Housing Programs</option>
			<option value="96 Administration of Economic Programs">96 Administration of Economic Programs</option>
			<option value="97 National Security and International Affairs">97 National Security and International Affairs</option>
			<option value="99 HNonclassifiable Establishments">99 Nonclassifiable Establishments</option>
		</select>
		<label for="certifiyingAgency">Certifying Agency</label>
		<select class="long-field-select" name="certifiyingAgency" ng-model="filter.certifiyingAgency">
			<option value="agency1">Small Business Administration</option>
			<option value="agency2">Department of Transportation (DOT)</option>
			<option value="agency3">Department of General Services (DGS)</option>
			<option value="agency4">California Public Utilities Commission</option>
			<option value="agency5">National Minority Supplier Diversity Council (NMSDC)</option>
			<option value="agency6">Women's Business Enterprise National Council (WBENC)</option>
			<option value="agency7">National Association of Women Business Owner's Corp. (NAWBO)</option>
			<option value="agency8">National Veteran Small Business Coalition (NVSBC)</option>
		</select>
		<label for="certificationType" >Certification Type</label>
		<select name="certificationType" class="long-field-select" ng-model="filter.certificationType">
		    <option value="type1">SBA 8(a) Certification</option>	
		    <option value="type2">Disadvantaged Business Enterprise</option>	
		    <option value="type3">Small Business Enterprise</option>
		    <option value="type4">Women-Owned Business Enterprise</option>
		    <option value="type5">Disabled Veteran Business Enterprise</option>
		    <option value="type6">Minority Owned Business Enterprise</option>	
		</select>
		</br>
		<label for="companySize">Company Size</label></br>
		<select class="long-field-select" name="companySize" ng-model="filter.companySize">
		    <option value="size1">1-10 employees</option>	
		    <option value="size2">11-50 employees</option>	
		    <option value="size3">50-250 employees</option>	
		    <option value="size4">251-500 employees</option>
		    <option value="size5">500+ employees</option>
		</select>
		</br>
		<label for="companyValuation">Company Revenues</label>
		<select class="long-field-select" name="companyValuation" ng-model="filter.companyValuation">
		    <option value="revenue1">&lt; $100,000</option>
		    <option value="revenue2">$100,000 - $500,000</option>
		    <option value="revenue3">$500,001 - $1,000,000</option>
		    <option value="revenue4">$1,000,001 - $2,000,000</option>
		    <option value="revenue5">$2,000,001 - $4,000,000</option>
		    <option value="revenue6">$4,000,001 - $7,000,000</option>
		    <option value="revenue7">$7,000,001 - $10,000,000</option>
		    <option value="revenue8">$10,000,001 - $15,000,000</option>
		    <option value="revenue9">$15,000,001 - $20,000,000</option>
		    <option value="revenue10">$20,000,000+</option>
		</select>
		</br>
		<label for="insurance">Insurance</label></br/>
		<select class="long-field-select" name="insurance" ng-model="filter.insurance">
		   <option value="insurance1">$1,000,000 - $2,000,000</option>
		   <option value="insurance2">$2,000,001 - $5,000,000</option>
		   <option value="insurance3">$5,000,001 - $10,000,000</option>
		   <option value="insurance4">$10,000,001 - $20,000,000</option>
		   <option value="insurance5">$20,000,000+</option>
		</select>
		</br>
		<label for="bonding">Bonding</label></br>
		<select class="long-field-select" name="bonding" ng-model="filter.bonding">
		    <option value="bonding1">$1,000,000 - $2,000,000</option>
		    <option value="bonding2">$2,000,001 - $5,000,000</option>
		    <option value="bonding3">$5,000,001 - $10,000,000</option>
		    <option value="bonding4">$10,000,001 - $20,000,000</option>
		    <option value="bonding5">$20,000,000+</option>
		</select>
		</br>
		<label for="license">License Type</label></br>
		<select class="long-field-select" name="licensetype" ng-model="filter.licensetype">
			<option value="A   General Engineering Contractor">A General Engineering Contractor</option>
			<option value="ARC Architect">ARC Architect</option>
			<option value="ASB Asbestos">ASB Asbestos</option>
			<option value="B   General Building Contractor">B General Building Contractor</option>
			<option value="C02 Insulation and Accoustical Contractor">C02 Insulation and Accoustical Contractor</option>
			<option value="C04 Boilder, Hot-Water Heating System Fitting Contractor">C04 Boilder, Hot-Water Heating System Fitting Contractor</option>
			<option value="C05 Framing and Rough Carpentry Contractor">C05 Framing and Rough Carpentry Contractor</option>
			<option value="C06 Cabinet, Millwork and Finish Carpentry Contractor">C06 Cabinet, Millwork and Finish Carpentry Contractor</option>
			<option value="C07 Low Voltage Systems Contractor">C07 Low Voltage Systems Contractor</option>
			<option value="C08 Concrete Contractor">C08 Concrete Contractor</option>
			<option value="C09 Drywall Contractor">C09 Drywall Contractor</option>
			<option value="C10 Electrical Contractor">C10 Electrical Contractor</option>
			<option value="C11 Elevator Contractor">C11 Elevator Contractor</option>
			<option value="C12 Earthwork and Paving Contractor">C12 Earthwork and Paving Contractor</option>
			<option value="C13 Fencing Contractor">C13 Fencing Contractor</option>
			<option value="C15 Flooring and Floor Covering Contractor">C15 Flooring and Floor Covering Contractor</option>
			<option value="C16 Fire Protection Contractor">C16 Fire Protection Contractor</option>
			<option value="C17 Glazing Contractor">C17 Glazing Contractor</option>
			<option value="C20 Warm-Air Heating, Ventilation and Air-conditioning Contracto">C20 Warm-Air Heating, Ventilation and Air-conditioning Contracto</option>
			<option value="C21 Building Moving / Demolition Contractor">C21 Building Moving / Demolition Contractor</option>
			<option value="C23 Ornamental Metal Contractor">C23 Ornamental Metal Contractor</option>
			<option value="C27 Landscaping Contractor">C27 Landscaping Contractor</option>
			<option value="C28 Lock and Security Equipment Contractor">C28 Lock and Security Equipment Contractor</option>
			<option value="C29 Masonry Contractor">C29 Masonry Contractor</option>
			<option value="C31 Construction Zone Traffic Control Contractor">C31 Construction Zone Traffic Control Contractor</option>
			<option value="C32 Parking and Highway Improvement Contractor">C32 Parking and Highway Improvement Contractor</option>
			<option value="C33 Painting and Decorating Contractor">C33 Painting and Decorating Contractor</option>
			<option value="C34 Pipeline Contractor">C34 Pipeline Contractor</option>
			<option value="C35 Lathing and Plastering Contractor">C35 Lathing and Plastering Contractor</option>
			<option value="C36 Plumbing Contractor">C36 Plumbing Contractor</option>
			<option value="C38 Refrigeration Contractor">C38 Refrigeration Contractor</option>
			<option value="C39 Roofing Contractor">C39 Roofing Contractor</option>
			<option value="C42 Sanitation System Contractor">C42 Sanitation System Contractor</option>
			<option value="C43 Sheet Metal Contractor">C43 Sheet Metal Contractor</option>
			<option value="C45 Electrical Sign Contractor">C45 Electrical Sign Contractor</option>
			<option value="C46 Solar Contractor">C46 Solar Contractor</option>
			<option value="C47 General Manufactured Housing Contractor">C47 General Manufactured Housing Contractor</option>
			<option value="C50 Reinforcing Steel Contractor">C50 Reinforcing Steel Contractor</option>
			<option value="C51 Structural Steel Contractor">C51 Structural Steel Contractor</option>
			<option value="C53 Swimming Pool Contractor">C53 Swimming Pool Contractor</option>
			<option value="C54 Tile Contractor (Ceramic and Mosaic)">C54 Tile Contractor (Ceramic and Mosaic)</option>
			<option value="C55 Water Conditioning Contractor">C55 Water Conditioning Contractor</option>
			<option value="C57 Well Drilling Contractor">C57 Well Drilling Contractor</option>
			<option value="C60 Welding Contractor">C60 Welding Contractor</option>
			<option value="C61 Limited Specialty Contractor">C61 Limited Specialty Contractor</option>
			<option value="CPA Certified Public Accountant">CPA Certified Public Accountant</option>
			<option value="CR  Court Reporters">CR  Court Reporters</option>
			<option value="D03 Awnings">D03 Awnings</option>
			<option value="D04 Central Vacuum Systems">D04 Central Vacuum Systems</option>
			<option value="D06 Concrete Related Services">D06 Concrete Related Services</option>
			<option value="D08 Doors and Door Services">D08 Doors and Door Services</option>
			<option value="D09 Drilling, Blasting and Oil Field Work">D09 Drilling, Blasting and Oil Field Work</option>
			<option value="D10 Elevated Floors">D10 Elevated Floors</option>
			<option value="D12 Synthetic Products">D12 Synthetic Products</option>
			<option value="D16 Hardware, Locks and Safes">D16 Hardware, Locks and Safes</option>
			<option value="D21 Machinery and Pumps">D21 Machinery and Pumps</option>
			<option value="D22 Marble">D22 Marble</option>
			<option value="D24 Metal Products">D24 Metal Products</option>
			<option value="D28 Doors, Gates and Activating Devices">D28 Doors, Gates and Activating Devices</option>
			<option value="D29 Paperhanging">D29 Paperhanging</option>
			<option value="D30 Pile Driving / Pressure Foundation Jacking">D30 Pile Driving / Pressure Foundation Jacking</option>
			<option value="D31 Pole Installation and Maintenance">D31 Pole Installation and Maintenance</option>
			<option value="D34 Prefabricated Equipment">D34 Prefabricated Equipment</option>
			<option value="D35 Pool and Spa Maintenance">D35 Pool and Spa Maintenance</option>
			<option value="D38 Sand and Water Blasting">D38 Sand and Water Blasting</option>
			<option value="D39 Scaffolding">D39 Scaffolding</option>
			<option value="D40 Service Station Equipment and Maintenance">D40 Service Station Equipment and Maintenance</option>
			<option value="D41 Siding and Decking">D41 Siding and Decking</option>
			<option value="D42 Sign Installation">D42 Sign Installation</option>
			<option value="D49 Tree Service">D49 Tree Service</option>
			<option value="D50 Suspended Ceilings">D50 Suspended Ceilings</option>
			<option value="D51 Waterproofing and Weatherproofing">D51 Waterproofing and Weatherproofing</option>
			<option value="D52 Window Coverings">D52 Window Coverings</option>
			<option value="D53 Wood Tanks">D53 Wood Tanks</option>
			<option value="D56 Trenching">D56 Trenching</option>
			<option value="D59 Hydroseed Spraying">D59 Hydroseed Spraying</option>
			<option value="D62 Air and Water Balancing">D62 Air and Water Balancing</option>
			<option value="D63 Construction Cleanup">D63 Construction Cleanup</option>
			<option value="D64 Nonspecialized">D64 Nonspecialized</option>
			<option value="D65 Weatherization and Energy Conservation">D65 Weatherization and Energy Conservation</option>
			<option value="EAG Agricultural Engineer">EAG Agricultural Engineer</option>
			<option value="EC  Civil Engineer">EC  Civil Engineer</option>
			<option value="ECH Chemical Engineer">ECH Chemical Engineer</option>
			<option value="ECS Control Systems Engineer">ECS Control Systems Engineer</option>
			<option value="EE  Electrical Engineer ">EE  Electrical Engineer </option>
			<option value="EFP Fire Protection Engineer">EFP Fire Protection Engineer</option>
			<option value="EG  Geophysical Engineer">EG  Geophysical Engineer</option>
			<option value="EGT Geotechnical Engineer">EGT Geotechnical Engineer</option>
			<option value="EM  Mechanical Engineer ">EM  Mechanical Engineer </option>
			<option value="EME Metallurgical Engineer">EME Metallurgical Engineer</option>
			<option value="EMF Manufacturing Engineer">EMF Manufacturing Engineer</option>
			<option value="EN  Nuclear Engineer">EN  Nuclear Engineer</option>
			<option value="EP  Petroleum Engineer">EP  Petroleum Engineer</option>
			<option value="ES  Soils Engineer">ES  Soils Engineer</option>
			<option value="EST Structural Engineer">EST Structural Engineer</option>
			<option value="ET  Traffic Engineer">ET  Traffic Engineer</option>
			<option value="HAZ Hazardous Waste">HAZ Hazardous Waste</option>
			<option value="HIC Home Improvement Certification">HIC Home Improvement Certification</option>
			<option value="IA  Insurance Agent">IA  Insurance Agent</option>
			<option value="IB  Insurance Broker">IB  Insurance Broker</option>
			<option value="L   Lawyer">L   Lawyer</option>
			<option value="LA  Landscape Architect">LA  Landscape Architect</option>
			<option value="LS  Land Surveyor">LS  Land Surveyor</option>
			<option value="NL  CAUTION:FIRM NOT LICENSED IN CALIFORNIA">NL  CAUTION:FIRM NOT LICENSED IN CALIFORNIA</option>
			<option value="PC  PEST CONTROL">PC  PEST CONTROL</option>
			<option value="PI  Private Investigator">PI  Private Investigator</option>
			<option value="RE  Real Estate Broker/Agents">RE  Real Estate Broker/Agents</option>
			<option value="RG  Registered Geologist">RG  Registered Geologist</option>
			<option value="SCB Securities and Commodities Broker">SCB Securities and Commodities Broker</option>
			<option value="SP  Security Patrol">SP  Security Patrol</option>
			<option value="TCS Traffic Control Supervisor">TCS Traffic Control Supervisor</option>
			<option value="TCT Traffic Control Technician">TCT Traffic Control Technician</option>
		</select>
		</br>
		<label for="ethnicity">Ethnicity</label></br>
		<select class="long-field-select" name="ethnicity" ng-model="filter.ethnicity">
			<option value="African American">African/African American</option>
            <option value="Asian">Asian</option>
            <option value="Caucasian">Caucasian</option>
            <option value="Hispanic">Hispanic/Latino</option>
            <option value="Middle Eastern">Middle Eastern</option>
            <option value="Native American">Native American</option>
 			<option value="Pacific Islander">Pacific Islander</option>
            <option value="Other">Other</option>
        </select>
    	</br>
        <label for="gender">Gender</label></br>
		<select class="long-field-select" name="gender" ng-model="filter.gender">
		    <option value="male">Male</option>	
		    <option value="female">Female</option>	
		</select>
		</br>
		<label for="LGBT">LGBT</label></br>
		<select class="long-field-select" name="LGBT" ng-model="filter.LGBT">
		    <option value="yes">Yes</option>	
		    <option value="no">No</option>	
		</select>
		</br>
		<label for="veteran">Veteran</label></br>
		<select class="long-field-select" name="veteran" ng-model="filter.veteran">
			<option value="disabled-veteran">Disabled Veteran</option>	
		    <option value="veteran">Veteran</option>	
		    <option value="non-veteran">Non Veteran</option>
		</select>
	</div>
	<div class="col-md-6">
		<h4 class="title">Results</h4>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="Name or Trade Specialty" ng-model="searchText.name" ng-change="onSearchNameChange()">
		</div>
	    <div class="col-md-6">
			<input type="text" class="form-control" placeholder="Address, City, Zip" ng-model="searchText.location" ng-change="onSearchLocationChange()">	
		</div>
		<!-- <div class="col-md-4">
			<input type="text" class="form-control" placeholder="Mile Radius">
		</div> -->
		<div id="btn-row">
			<button type="submit" class="btn btn-primary" id="search-btn">SEARCH</button>
		</div>

		<table class="table table-striped table-condensed table-hover" id="companies-results-table">
			<thead>
		        <tr>
		        	<th></th>
		            <th>Company Name</th>
		            <th>Address</th>
		            <th>City</th>
		            <th>Zipcode</th>
		            <th>District</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr ng-repeat="company in companies | 
		        	filter: searchText |
		        	offset: currentPage*itemsPerPage | 
		        	limitTo: itemsPerPage">
		        	<td><img src={{company.logo}} style="width:80px;"></td>
		            <td style="min-width:150px;"><span ng-bind="company.name"></span></td>
		            <td style="min-width:160px;"><span ng-bind="company.location.address"></span></td>
		            <td><span ng-bind="company.location.city"></span></td>
		            <td><span ng-bind="company.location.zipcode"></td>
		            <td><span ng-bind="company.location.district"></td>
		        </tr>
		    </tbody>
		    <tfoot>
		      <td colspan="6">
		        <div class="pagination">
		          <ul style="margin-left:-40px;">
		            <li ng-class="prevPageDisabled()">
		              <a href ng-click="prevPage()">« Prev</a>
		            </li>
		            <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
		              <a href="#/search">{{n+1}}</a>
		            </li>
		            <li ng-class="nextPageDisabled()">
		              <a href ng-click="nextPage()">Next »</a>
		            </li>
		          </ul>
		          <div>
	          	 	<span>Items per page</span>
			          <select name="itemsPerPage" ng-model="itemsPerPage">
			          		<option value="5" class="active">5</option>
							<option value="10">10</option>	
				    		<option value="25">25</option>	
				    		<option value="50">50</option>
					  </select>
				 	</div>
		        </div>
		      </td>
		    </tfoot>
		</table>
	</div>
	<div class="col-md-3 do-next-options">
		<h4 class="title">What Do You Want to Do Next?</h4>
		<div class="button-group">
			<button type="submit" class="btn btn-primary search-btn">Send Email Blast</button></br>
			<button type="submit" class="btn btn-primary search-btn">Send Invitation to Bid</button></br>
			<button type="submit" class="btn btn-primary search-btn">Run Reports</button></br>
			<button type="submit" class="btn btn-primary search-btn">Schedule Webinar</button></br>
		</div>
	</div>
</div>