<div class="container">
	<div class="row">
		<h2><b>BILD's Mission</b> - <i>We empower private, public corporations and government entities to discover, connect and transact with small &amp; diverse businesses</i>.</h2>
	</div>
	<div class="row">
		<h2 class="lead-muted">Why We Exist</h2>
		<h4>The Founders of BILD started their individual journeys years ago when both worked in the fields of construction, procurement and diversity. Upon introduction from a mutual friend who knew the two would make a great team, Makedah and Vivian joined forces. They both experienced first-hand the numerous pain points encountered by large corporations, government entities and small businesses seeking to work together.</h4>
		<h4>Some of the common challenges that persist to this day are:</h4>
		<ul>
			<li>Lack of Centralized System</li>
			<li>Antiquated Methodologies</li>
			<li>Disparate Systems</li>
			<li>Lack of/Outdated Data about Small Businesses</li>
			<li>Lack of Use of Technology</li>
		</ul>
	</div>
	<div class="row">
		<h2 class="lead-muted">Our Solution</h2>
		<h4>Our is to make your life easier by eliminating time, money, duplication, effort and frustration spent searching for each other and provide a smoother on-boarding process.  Business Intelligence Logistics Development Corporation (BILD) is a collaborative cloud-based system where we centralize, facilitate and streamline the identification, communication and contracting processes between corporations, government entities &amp; small business.</h4>
	</div>
	<div class="col-md-12 text-center">
		<img style="width:400px;margin-bottom: 30px;" src="img/team/viv_makedah_bike.jpg">
	</div>
</div>

