<div class="container">
	<div class="row">
		<h2>BILD’s mission is to “bridge” the gap in the identification, communication and contracting between small business, private corporations and government entities.</h2>
	</div>
	<div class="row">
		<h2 class="lead-muted">Why We Exist</h2>
		<h4>We, the founders of BILD started our journey together working to address the numerous pain points encountered by large corporations, government entities and small businesses seeking to work together.</h4>
		<h4>Some of the common challenges we found across the board to be:</h4>
		<ul>
			<li>Lack of Centralized System</li>
			<li>Antiquated Methodologies</li>
			<li>Disparate Systems</li>
			<li>Lack of/Outdated Data about Small Businesses</li>
			<li>Lack of Use of Technology</li>
		</ul>
	</div>
	<div class="row">
		<h2 class="lead-muted">Our Solution</h2>
		<h4>Business Intelligence Logistics Development Corp. (B.I.L.D) is a collaborative cloud-based system where we centralize small business data, facilitate and streamline the identification, communication, and contracting processes between corporations or government entities and small business.<h4>
	</div>
</div>

